# Nuxt
.nuxt
.output
.data
dist
build

# Node
node_modules
logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Types
*.tsbuild-info
